Repository DSACMS/dedupliFHIR, pull requests merged in 2024-08, with the labels that each got.

#110 Add Numeral Normalization to DedupliFHIR Parsing
  cli/deduplifhirLib/normalization.py
  poetry.lock
  pyproject.toml
Labels: enhancement, dedupliFHIR, dependencies

#111 Merge Dev into Main
  README.md
  cli/deduplifhirLib/normalization.py
  cli/deduplifhirLib/settings.py
  cli/deduplifhirLib/utils.py
  cli/ecqm_dedupe.py
  poetry.lock
  pyproject.toml
Labels: enhancement, dedupliFHIR, dependencies

#119 chore: Update SECURITY.md to add new VDP
  SECURITY.md
Labels: automated pr

#122 Add Multi-Cardinality Support to DedupliFHIR Backend
  cli/deduplifhirLib/settings.py
  cli/deduplifhirLib/splink_settings.json
  cli/deduplifhirLib/tests/main_test.py
  cli/deduplifhirLib/tests/test_data.csv
  cli/deduplifhirLib/tests/test_data_columns.json
  cli/deduplifhirLib/utils.py
  cli/ecqm_dedupe.py
  poetry.lock
  pyproject.toml
Labels: enhancement, dedupliFHIR
